{% extends "base.html" %}

{% load i18n %}
{% block content %}

<div id="main">
	<div id="content">
		<div id="container">	
			{% if form.non_field_errors %}
			<div id="error">
				{{ form.non_field_errors }}
			</div>
			
			<br />
			{% endif %}
			<div id="login">
				<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}	
					<h1>Reset Password</h1>
					<p align="center"><img src="/media/img/password-reset.png" /></p>
					<p>Forgot password? Please enter your e-mail to get a new password.</p>		
					<p><label for="id_email">E-mail address:</label> <input id="id_email" type="text" name="email" maxlength="75" /> <input type="submit" value="Reset password" /></p>{{ form.email.errors }}
				</form>
			</div>
		</div>
	</div>
</div>
<script>document.forms['login-form'].elements['id_email'].focus()</script>

{% endblock %}
