{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
$(document).ready(function(){
	$(".group").colorbox({rel:'group1'});
});
//-->
</script>
<p><a href="/writecomment/{{usr.user.username}}/">Write a comment for {{usr.user.username}}</a></p>
<table width="100%">
		<tr>
			<td>Photo</td>
			<td>Who / When</td>
			<td>When Met / Comment</td>
			<td>Trust</td>
			<td>Host</td>
			<td>Guest</td>
			<td>Identity Checked</td>
		</tr>
		{% for comment in usr.comments %}
		<tr>
			<a class="group" title="{{comment.user.username}}" href="{{comment.picture.url}}"><img src="{{ comment.picture|thumbnail_url:'profile' }}" alt="" /></a>
			<td><a href="{{comment.user.username}}"></a><br /><b>{{comment.user.country}}</b><br />{{comment.comment_updated}}</td>
			<td><b>{{comment.where_did_you_meet}}</b><br />{{comment.comment}}</td>
			<td>{{comment.trust}}</td>
			<td>{{comment.host}}</td>
			<td>{{comment.guest}}</td>
			<td>{{comment.passport_checked}}</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}