{% extends "base.html" %}
{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

	<p><b>Active members in {{country.name}}</b></p>

	<table width="100%">
		<tr>
			<td>Photo</td>
			<td>User name</td>
			<td>Name</td>
			<td>Accommodation</td>
			<td>Profile Summary</td> 
		</tr>
		{% for user in users %}
		<tr>
			<td>{{user.photo}}</td>
			<td><a href="/profile/{{user.user.username}}/">{{user.user.username}}</a></td>
			<td>{{user.fullname}}</td>
			<td>{{user.offer_accomodation}}</td>
			<td>{{user.profile_summary}}</td> 
		</tr>
		{% endfor%}
	</table>
{% endblock %}