{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}
<table width="100%">
	<tbody>
		<tr align="left">
			<td bgcolor="#99ccff" colspan="5">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							<td><b>Member profile</b></td>
						</tr>
						<tr>
							<td align="right">
								<a href="/map/{{usr.user.username}}/"<b>on the map</b></a>
								&nbsp;&nbsp;
								<a href="/messsage/{{usr.user.username}}/"><b>Send a message to {{usr.user.username}}</b></a>
								&nbsp;&nbsp;
								<b><a href="/comments/{{usr.user.username}}/">Comments({{usr.comments}})</a></b>
								&nbsp;&nbsp;
								<b><a href="/add/{{usr.user.username}}/">add to my list</a></b>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>Name:</td>
			<td colspan="2">hidden&nbsp;&nbsp;</td>
			<td align="center" rowspan="6" colspan="2">
				<a target="new" href="{{usr.picture.url}}"><img src="{{ usr.picture|thumbnail_url:'profile' }}" alt="" /></a>
			</td>
		</tr>
		<tr>
			<td>Street:</td>
			<td colspan="2">hidden&nbsp;</td>
		</tr>
		<tr>
			<td>City: </td>
			<td colspan="2"><span class="hotlink"><a href="/city/{{usr.city.id}}/">{{usr.city}}</a></span></td>
		</tr>
		<tr>
			<td>Region/State: </td>
			<td colspan="2"><span class="hotlink"><a href="/region/{{usr.region.id}}/">{{usr.region}}</a></span>&nbsp;</td>
		</tr>
		<tr>
			<td>Postal Code (ZIP): </td>
			<td colspan="2">{{usr.postal_code}}&nbsp;</td>
		</tr>
		<tr>
			<td>Country: </td>
			<td colspan="2"><span class="hotlink"><a href="/country/{{usr.country.id}}/">{{usr.country}}</a></span>&nbsp;</td>
		</tr>
		<tr>
			<td>Instant Contact:</td>
			<td colspan="4">{% for instant in usr.instant_contact%}<b>{{instant.what}}:</b> {{instant.value}} {%endfor%}&nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td>Date of Birth:</td>
			<td colspan="2">{{usr.birth_date}}</td>
			<td>Gender: </td>
			<td>{{usr.gender_desc}}&nbsp;</td>
		</tr>  
		<tr>
			<td>Last Login :</td>
			<td colspan="2">{{usr.user.last_login}}</td>
			<td>Update : </td>
			<td>{{usr.last_update}}</td>
		</tr>
		<tr>
			<td>Member since:</td>
			<td colspan="4">{{usr.member_since}}</td>
		</tr>
		<tr>
			<td>Profile Summary: </td>
			<td colspan="4">{{usr.profile_summary}}</td>
		</tr>
		<tr align="left">
			<td bgcolor="#99ccff" colspan="5"><b>Travels and interests</b></td>
		</tr>
		<tr>
			<td>Languages spoken: </td>
			<td colspan="4">{{usr.languages_spoken}}</td>
		</tr>
		<tr>
			<td>Hobbies, Interests: </td>
			<td colspan="4">{{usr.hobbies_interests}}</td>
		</tr>
		<tr>
			<td>Anything else about myself: </td>
			<td colspan="4">{{usr.anything_else}}</td>
		</tr>
		<tr align="left">
			<td bgcolor="#99ccff" colspan="5"><b>Help and advice</b></td>
		</tr>
		<tr>
			<td>I can offer:</td>
			<td>Accommodation: {{usr.offer_accomodation}}&nbsp;</td>
			<td colspan="3">{{usr.i_offer}}</td></tr><tr><td>Nearby public transport: </td>
			<td colspan="4">{{usr.nearbytransport}}&nbsp;</td>
		</tr>
		<tr>
			<td>Nearby bigger cities, distance: </td>
			<td colspan="4">{{usr.nearbycities}}</td>
		</tr>
		<tr>
			<td bgcolor="#99ccff" colspan="5"><b>Accommodation </b></td>
		</tr>
		<tr>
			<td>I live with:</td>
			<td colspan="4">{{usr.live_with}}</td>
		</tr>
		<tr>
			<td>Sleeping place I can offer:</td>
			<td colspan="4">{{usr.sleeping_offer}}</td>
		</tr>
		<tr>
			<td>Please bring:</td>
			<td colspan="4">{{usr.pleasebring}}</td>
		</tr>
		<tr>
			<td>Maximum number of guests: </td>
			<td>{{usr.number_of_guest}}</td>
			<td colspan="2">Maximum length of stay: </td>
			<td>{{usr.maximum_days_of_stay}}</td>
		</tr>
		<tr>
			<td>Notification - visitors: </td>
			<td colspan="4">{{usr.notifications}}</td>
		</tr>
		<tr>
			<td>Gender of guest:</td>
			<td>{{usr.gender_of_guest}}</td>
			<td colspan="2">Smoking: </td>
			<td>{{usr.smoking}}</td>
		</tr>
		<tr>
			<td>Requirements and Restrictions:</td>
			<td colspan="4">{{usr.restrictions}}</td>
		</tr>
		<tr>
			<td>Pets:</td>
			<td colspan="4">{{usr.pets}}</td>
		</tr> 
	</tbody>
</table>
{% endblock %}