{% load i18n %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="{% block description %}{% endblock %}">
<link type="text/css" rel="stylesheet" href="/media/css/hc.css" />
<link type="text/css" rel="stylesheet" href="/media/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="/media/css/bootstrap-responsive.min.css" />

<meta name="keywords" content="{% block keyword %}{% endblock %}">
<script src="/media/js/jquery-1.9.1.min.js"></script>
<script src="/media/js/bootstrap.min.js"></script>

<title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">{% trans "Hospitality Club" %}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">{% trans "Home" %}</a></li>
              <li><a href="/faq/">{% trans "FAQ" %}</a></li>
              <li><a href="/tour/1/">{% trans "Tour" %}</a></li>
				<li><a href="/countries/">{% trans "Countries" %}</a></li>
				<li><a href="/rules/">{% trans "Rules" %}</a></li>
            </ul>
            <ul class="nav pull-right">
			<li><a href="/accounts/register/">{% trans "Sign Up" %}</a></li>
			<li><a href="/accounts/login/">{% trans "Log In" %}</a></li>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      	{% block content %}{% endblock %}

    </div> <!-- /container -->


</body>
</html>