{% extends "base.html" %}
{% block title %}Hosts in {{country}} - Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

{{country}}

{% endblock %}