{% extends "base.html" %}
{% block title %}Learn - Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}
<span class="text">
<ul><li><b> 
<a target="_top" href="/faq/">Frequently Asked Questions</a> </b>Read them and find the answers to questions you might have as well.</li></ul><ul><li><b> 
<a target="_top" href="/tour/1/>The Tour</a> </b>Take the tour and learn about the idea, about being guest and host, about security, about the member profile and about The Hospitality Club itself.</li></ul><ul><li><b> 
<a target="_top" href="/countries/">Countries</a> </b>Check out in which countries you will find friendly members of The Hospitality Club.</li></ul><ul><li><b> 
<a target="_top" href="/experiences/">Experiences</a> </b>Read about the experiences of some of our members while using The Hospitality Club.</li></ul><ul><li><b> 
<a target="_top" href="/rules/">The Rules</a> </b>Please take a minute and review the rules of The Hospitality Club.</li></ul><ul><li><b> 

<a target="_top" href="/contact/">Contact</a> </b>How to get in touch with us.</li></ul>When you have reviewed all information, please proceed to the next step and</span>
{% endblock %}