{% extends "base.html" %}
{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

<h1>3. Be an host</h1>

<p>As a member of The Hospitality Club your profile will be visible online to all other members. If another member visits your home town it is very likely that he/she will call you or send you a message, asking if you would like to meet him/her. It is then up to you to offer an invitation to stay with you, to have him/her over for dinner, to arrange to show him/her around town or anything else you could do to help. Of course you are not at all obliged to do anything you don't want to.</p>

<p>When people contact you, they have to give you their full name, passport number and user name at The Hospitality Club. It is a good idea to look at their profile (every member has a profile on our website). This will help you to get to know the person you will meet beforehand. Of course you can refuse to meet anybody that you don't like. Please keep a copy of your future guest's passport information in a safe place, or send it to <a href="mailto:security@hospitalityclub.org">security@hospitalityclub.org</a>, where we will keep it for you.</p>

<p>When you meet your guest for the first time, please have a look at his/her passport to check if the identity information matches the one you received. After that enjoy the time with your guest! Try to let him/her participate in your normal life, this is often the best way to get some interesting insights into a different culture. After the stay you should write a comment about your guest. This will make it easier for other hosts to decide whether they should agree or refuse to host this member.</p>

<h1><a href="/tour/2">Previous</a> - <a href="/tour/4">Next</a></h1>

{% endblock %}