{% extends "base.html" %}
{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

<h1>6. About the Club</h1>

<p>The Hospitality Club is not a commercial enterprise. We are volunteers dedicating our free time to this cause, because we believe that this club will allow people all around the world to become friends who would not have met otherwise and will thus promote world peace.</p>

<p>To keep the club running and to make it grow, we need a lot of helping hands and mouths. So after you sign up , please take a minute and think, if you could help somehow, even if it's just with sending an email to your friends telling about the club, or with putting a link on your homepage. We need every help we can get, no matter how small, and no matter where you're from.</p>

<p>Also, if you have any suggestions how to improve this site or any other comments, please don't hesitate to write us at <a href="mailto:info@hospitalityclub.org">info@hospitalityclub.org</a> We are determined to make this club one of the nicest things on the internet and in the real world.</p>

<h1><a href="/tour/5">Previous</a> - <a href="/accounts/register/">Sign Up</a></h1>

{% endblock %}