{% extends "base.html" %}
{% block title %}Login for free accommodation and hospitality exchange :-) Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

<h1>4. Security</h1>

<p>There are two major security concerns:</p>

<p><b>Security of your personal data</b></p>

<p>The information you supply at signup will be checked by us and then stored in a safe place. Your email will not be visible to other members - they will be able to send messages to you from an interface on the website. You can choose to hide your most sensitive personal information (name and address). All other information you supply is voluntary and will be visible in your profile. This is the only data about you that will be put onto the internet, and of course members will have to log onto the secure site with a password to see your profile.</p>

<p><b>Security when meeting another member</b></p>

<p>Whenever someone contacts you through The Hospitality Club, he/she must supply his/her full name, passport number and user name. You should first check, if this person really is a member by looking for his/her profile on the website. The profile could also be a help for you to decide whether you would like to meet this person or not.</p>

<p>Please keep the passport information in a safe place or send it to <a href="mailto:security@hospitalityclub.org">security@hospitalityclub.org</a> where we will store it for you. Check the passport of your guest on arrival, and make sure that the identity information you received is correct. This way, you will have some security, in case something happens.
Another great tool to increase the security for all members is the comment feature: every member can make a comment on any other member that he/she knows. These comments will appear next to the profile. Also, you will be able to see the user names of past hosts and guests of a member, as well as the names of other members that trust this person. Please use this feature and write a short comment on every member you know, no matter if you met him/her through The Hospitality Club or have known him/her before. If you want to host someone, and see that this member has received a lot of negative comments from his/her past hosts you might change your mind and likewise if a host received negative comments from his/her guests you might want to look out for a different place to stay.</p>

<p>Even with these security measures taken, please be as cautious as you would with any other stranger. As we approve new members, we cannot know them personally. If you feel that anyone is abusing The Hospitality Club, please send a message to <a href="mailto:abuse@hospitalityclub.org">abuse@hospitalityclub.org</a> and we will deal with the problem.
</p>

<h1><a href="/tour/3">Previous</a> - <a href="/tour/5">Next</a></h1>

{% endblock %}