{% extends "base.html" %}
{% block title %}Tour - Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}

<h1>5. The Profile</h1>

<p>The personal Profile is the heart piece of The Hospitality Club. Here, every member gives information about him/herself so other members can contact him/her or decide if they would like to host him/her. Besides personal information, information about the travels and interests and the help offered by a member, the Profile contains another major feature: the comments. As a member, you can comment on any other member that you personally know, and these comments will appear in the Profile. Also, you can specify if you trust a member, or if you have been his/her host or guest. This feature adds security and fun for all members.</p>

<p>When you <a href="/accounts/register/">sign up</a>, please remember that your Profile will be the basis for all your activities within The Hospitality Club, so take a minute and tell as much about yourself as you would like to know about another person that was coming to stay with you. </p>


<p><a class="btn btn-primary btn-large" href="/tour/4">« Previous</a> &nbsp; <a class="btn btn-primary btn-large" href="/tour/6">Next »</a></p>

{% endblock %}