{% extends "base.html" %}
{% block title %}Tour - Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}
<h1>1. The Idea</h1>
<p>Getting to know other countries and different cultures, making new friends - if you like doing this, then The Hospitality Club is the right thing for you.</p>

<p>There is nothing more rewarding when you travel than to get in touch with locals. And being offered a place to stay for the night from a nice person is one of the luckiest things that may happen to the tired traveler.</p>

<p>Using the opportunities of the internet, in 2000 we started this network, enabling travelers around the world to find each other and help each other out. All you have to do is to sign up and give some information about yourself - creating a profile. When you want to travel you just need to check out the profiles of fellow travelers on the internet and contact them. Even if you are not traveling yourself, you can still get to know interesting people: other travelers who are visiting your country will contact you and be glad about whatever you can offer - advice, accommodation or any other help you can think of.</p>

<p>The Hospitality Club makes all this possible, being a platform for anyone who likes to travel or just to get to know foreign people. We don't ask you to do anything. We just offer you the opportunity to meet exactly the people that are going to help you on your next trip and exactly those people that will need your help when they visit your home country.</p>

<p><a class="btn btn-primary btn-large" href="/tour/2">Next »</a></p>

{% endblock %}