{% extends "base.html" %}
{% block title %}Tour - Hospitality Club	{% endblock%}
{% block keywords %}hospitality exchange home exchange free accommodation accomodation budget travel cheap travel meet people worldwide backpacking backpacker hostel stay for free homestay accomodations accommodations make friends world peace meet travelers where to stay intercultural friendship{% endblock %}
{% block description %}Free network of people around the world who offer free accommodation, advice and help when they are traveling - hospitality exchange. Free membership.{% endblock %}

{% block content %}
<h1>2. Be a guest</h1>
<p>As a member of The Hospitality Club you will be able to find friendly people around the world to stay with or to show you around. You can look at the profiles of all members and contact whoever lives in the area you are going to visit.</p>

<p>In the profiles it will be specified if members are able to offer accommodation or anything else. If the profile says "I can offer accommodation" this does not mean that you have a RIGHT to stay with that member for free! It just means that he/she is willing to let visitors stay at his/her place if it is convenient.</p>

<p>When you contact a potential host you have to give him/her your full name, your passport number and your user name at The Hospitality Club so he/she can identify you on arrival (you have to take your passport with you). This also gives the host a chance to have a look at your profile before he/she agrees to host you. Any member can comment on any other member he/she knows and those comments will appear next to the profile. So any comments of your hosts will be displayed with your profile. This can have positive or negative effects on your future ability to find people willing to host you and should be motivation enough to treat your hosts in a respectful way. Of course, you can also comment on your hosts.</p>

<p><a class="btn btn-primary btn-large" href="/tour/1">« Previous</a> &nbsp; <a class="btn btn-primary btn-large" href="/tour/3">Next »</a></p>


{% endblock %}